<mat-toolbar class="header-items" color="primary">
    <mat-toolbar-row class="app-title">Cardápio - Doug-Food</mat-toolbar-row>
    <mat-toolbar-row class="toolbar-cart-home">
        <div class="flex-1">
            <a id=toolbar-home routerLink="/categoria">
                <mat-icon>home_rounded</mat-icon>
            </a>
            <a id="toolbar-cart" alt-text="VER PEDIDOS" routerLink="/pedido">
                <mat-icon [matBadge]="pedidoService.qtdTotal" matBadgeColor="accent">shopping_cart</mat-icon>
            </a>
        </div>
        <span>{{ pedidoService.sum | currency }}</span>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <ng-container *ngFor="let produto of produtos; let i = index">
            <strong *ngIf="i === 0">{{ produto.categoria }}</strong>
        </ng-container>
    </mat-toolbar-row>
</mat-toolbar>
<mat-action-list id="product-list">
    <ng-container *ngFor="let produto of produtos; let i = index">
        <button mat-list-item (click)="pedidoService.addProduct(produto)">
            <div class="button-desc-value">
                <span class="flex-1">{{ produto.descricao }}</span>
                <span>{{ produto.preco | currency }}</span>
            </div>
        </button>
    </ng-container>
</mat-action-list>
