<mat-toolbar color="primary">
    <mat-toolbar-row class="app-title">Cardápio - Doug-Food</mat-toolbar-row>
    <mat-toolbar-row class="toolbar-cart-value">
        <a alt-text="VER PEDIDOS" routerLink="/pedido">
            <mat-icon [matBadge]="1" matBadgeColor="accent">shopping_cart</mat-icon>
        </a>
        <span>R$ 100,00</span>
    </mat-toolbar-row>
</mat-toolbar>
<mat-action-list>
    <ng-container *ngFor="let produto of produtos; let i = index">
        <h2 *ngIf="i === 0 || produto.categoria !== produtos[i -1].categoria">{{ produto.categoria }}</h2>
        <button mat-list-item>
            <span class="flex-1">{{ produto.descricao }}</span>
            <span>{{ produto.preco }}</span>
        </button>
    </ng-container>
</mat-action-list>
